{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <div class="container bootstrap snippets bootdey mt-5">
        <div class="row">
            <!-- Left column: Profile picture upload -->
            <div class="col-md-3">
                <div class="text-center">
                    <img src="assets/images/faces/face28.jpg" class="avatar img-thumbnail rounded-circle" alt="avatar">
                    <input type="file" class="form-control mt-3">
                </div>
            </div>
            <!-- Edit form column -->
            <div class="col-md-9">
                <h3 class="mb-4">Personal Info</h3>
                <form class="form-horizontal" role="form">

                    <!-- Full Name -->
                    <div class="mb-3 row">
                        <label class="col-lg-3 col-form-label">Full Name</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" value="{{ user.fullName }}" placeholder="Enter your full name">
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="mb-3 row">
                        <label class="col-lg-3 col-form-label">Email</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="email" value="{{ user.email }}" placeholder="Enter your email">
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="mb-3 row">
                        <label class="col-lg-3 col-form-label">Address</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" value="{{ user.address }}" placeholder="Enter your address">
                        </div>
                    </div>

                    <!-- Modify button -->
                    <div class="row">
                        <div class="col-lg-9 offset-lg-3">
                            <button class="btn btn-primary btn-lg" type="submit">Modify</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
