{% extends 'base_admin.html.twig' %}

{% block pageTitle %}Add Car{% endblock %}

{% block pageBody %}
    <div class="row">
        {#<div class="col-md-4">
            <label for="" class="form-label">First Name</label>
            <input type="text" class="form-control">
        </div>#}
        <div class="col-md-3 mx-auto">
            <label for="" class="form-label">Last Name</label>
            <input type="text" class="form-control">
        </div>
        {#<div class="col-md-5">
            <label for="" class="form-label">Address</label>
            <input type="text" class="form-control">
        </div>#}
    </div>

{% endblock %}

{% block additionalJavascript %}
    <script>
        console.log("asma")
    </script>
{% endblock %}

